*{
    margin: 0;
    padding: 0;;
}
.container header{
    display: flex;
    flex-direction: row;
    
}
.container header ol{
    display: inherit;   
    position: absolute ;
    right: 0;
   
}

.content nav ol{
    padding: 0;
}